
button
{
  margin-left: 10px;
    color: rgb(3, 38, 78);
    border:2px solid black;
     width:40px;
    font-size:16px;
    padding: 5px;
   
}
input{
    margin-left: 25px;
    border:5px solid black;
}
#display{
   
    background-color:rgba(0,0,0,0.60);
    width: 240px;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
   border:4px solid rgb(2, 40, 61);
   border-radius: 20px;
   font-weight:bold;
}